# docker-compose.yml

services:
  db:
    image: pgvector/pgvector:pg16
    container_name: postgres_pgvector
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped 

volumes:
  postgres_data: